
@{
    ViewBag.Title = "Index";
}
<!--full screen wrapper part-->
<div class="jumbotron" id="box-wrapper">
    <div class="container">
        <div class="row" style="padding-top:200px;padding-bottom:200px">
            <div class="col-md-offset-4 col-md-5">
                <div class="jumbotron transparentBackground">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" class="form-control input-lg" placeholder="Search food you like" />
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-lg" type="button" id="searchButton">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Website introduction part-->
   

    
<h2>Index</h2>

